* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --white-color: #fdfafd;
  --text-color: #333;
  --main-color: #754ef9;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background: transparent;
  box-shadow: 0 1px 4px var(--shadow-color);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  gap: 3rem;
  margin-right: auto;
  display: flex;
}

.header .navbar {
  display: inline-flex;
}

.navbar a {
  position: relative;
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.5s ease-in-out;
  margin-right: 3.5rem;
}

.navbar a:hover {
  color: var(--main-color);
}

.navbar a.active::before {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: var(--white-color);
}

#darkMode {
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
}

section {
  padding: 10rem 7% 2rem;
  min-height: 100vh;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .home-content {
  width: 44rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 0.3;
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: -0.3rem;
  text-transform: uppercase;
  color: var(--main-color);
}

.home-content p {
  font-size: 1.6rem;
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transition: 0.5s ease-in-out;
}

.home-content .social-media a:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

.btn {
  display: inline-block;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 2.8rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  border: 0.2rem solid var(--main-color);
  transition: 0.5s ease-in-out;
}

.btn:hover {
  /* transform: translateY(-.2rem); */
  background: transparent;
  color: var(--main-color);
}

.home .profession-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 700px;
  height: 700px;
  overflow: hidden;
  pointer-events: none;
}

.home .profession-container .profession-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: purple;
  border-radius: 50%;
}